In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import hashlib

In [33]:
data=pd.read_csv("Trainset.csv")

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10480 entries, 0 to 10479
Data columns (total 18 columns):
Homepage              10466 non-null float64
Homepage _Duration    10466 non-null float64
Aboutus               10466 non-null float64
Aboutus_Duration      10466 non-null float64
Contactus             10466 non-null float64
Contactus_Duration    10466 non-null float64
BounceRates           10466 non-null float64
ExitRates             10466 non-null float64
PageValues            10480 non-null float64
SpecialDay            10480 non-null float64
Month                 10480 non-null object
OperatingSystems      10480 non-null int64
Browser               10480 non-null int64
Province              10480 non-null int64
TrafficType           10480 non-null int64
VisitorType           10480 non-null object
Weekend               10480 non-null bool
Revenue               10480 non-null int64
dtypes: bool(1), float64(10), int64(5), object(2)
memory usage: 1.4+ MB

In [19]:
data.describe()

,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Province,TrafficType,Revenue
count,10466.000000,10466.000000,10466.000000,10466.000000,10466.000000,10466.000000,10466.000000,10466.000000,10480.000000,10480.000000,10480.000000,10480.000000,10480.000000,10480.000000,10480.000000
mean,2.326486,79.804088,0.499618,34.068975,31.793904,1193.624457,0.022300,0.043046,5.881370,0.062118,2.125095,2.343607,3.152576,4.088359,0.154771
std,3.323596,170.853920,1.277184,139.545800,44.583646,1853.475826,0.048755,0.048762,18.554325,0.199609,0.907235,1.694979,2.405084,4.021582,0.361703
min,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,7.000000,182.503571,0.000000,0.014286,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000,0.000000
50%,1.000000,8.000000,0.000000,0.000000,18.000000,597.612500,0.003077,0.025135,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000,0.000000
75%,4.000000,93.000000,0.000000,0.000000,38.000000,1470.938259,0.016667,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000,0.000000
max,27.000000,2657.318056,24.000000,2256.916667,705.000000,43171.233380,0.200000,0.200000,361.763742,1.000000,8.000000,13.000000,9.000000,20.000000,1.000000

In [54]:
X=data.select_dtypes(include=[object,bool])

In [7]:
from sklearn import preprocessing

In [56]:
X=X.drop("Month",axis=1)

In [57]:
labelEncoder=preprocessing.LabelEncoder()
X_2=X.apply(labelEncoder.fit_transform)
X_2.head()

   VisitorType  Weekend
0            2        0
1            2        0
2            2        0
3            0        1
4            2        0

In [60]:
data['VisitorType']=X_2.VisitorType
data['Weekend']=X_2.Weekend

In [62]:
d = {'Jan':0, 'Feb':1, 'Mar':2, 'Apr':3, 'May':4,'June':5,'Jul':6,'Aug':7,'Sep':8,'Oct':9,'Nov':10,'Dec':11,}
data.Month = data.Month.map(d)

In [63]:
data.head()

,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend,Revenue
0,1.0,10.0,0.0,0.0,9.0,700.000000,0.000000,0.011111,29.621890,0.0,11,2,2,9,10,2,0,1
1,2.0,15.0,0.0,0.0,10.0,894.666667,0.000000,0.022222,0.000000,0.0,4,2,4,4,2,2,0,0
2,1.0,85.0,0.0,0.0,14.0,306.500000,0.000000,0.004444,0.000000,0.0,2,2,2,3,2,2,0,0
3,5.0,175.1,0.0,0.0,26.0,615.559524,0.000000,0.002083,62.773672,0.0,8,1,1,1,3,0,1,1
4,2.0,25.0,0.0,0.0,5.0,40.000000,0.066667,0.083333,0.000000,0.6,4,2,2,1,1,2,0,0

In [65]:
data.to_csv(r'/home/shashimal/Documents/hackstat2k19/new_train.csv', index = None, header=True)

In [3]:
df = pd.read_csv('new_train.csv')

In [37]:
X=df.drop(columns=['Revenue'])
y=df['Revenue']
X.shape
y.shape

(10480,)

In [38]:
#NOrmalizing
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [79]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)

NameError: name 'LabelEncoder' is not defined

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.1)

In [41]:
# y_train = tf.keras.utils.to_categorical(y_train, 2)
# y_test = tf.keras.utils.to_categorical(y_test, 2)

In [74]:
#model 
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(17,)),
    keras.layers.Dense(64, activation=tf.nn.relu),
    keras.layers.Dense(32, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid),
])

In [75]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [76]:
model.fit(X_train, y_train, epochs=5, batch_size=64)

Epoch 1/5
9432/9432 [==============================] - 0s 24us/sample - loss: nan - acc: 0.8465
Epoch 2/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466
Epoch 3/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466
Epoch 4/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466
Epoch 5/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466

In [77]:
score = model.evaluate(X_test, y_test, verbose=0)

In [78]:
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: nan
Test accuracy: 0.83301526

In [49]:
print(model.predict(X_test[0:2]))

[[nan]
 [nan]]

In [20]:
import numpy as np
np.argmax(predictions[801])

0