In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import hashlib

In [2]:
data=pd.read_csv("xtest.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1850 entries, 0 to 1849
Data columns (total 18 columns):
ID                    1850 non-null int64
Homepage              1850 non-null int64
Homepage _Duration    1850 non-null float64
Aboutus               1850 non-null int64
Aboutus_Duration      1850 non-null float64
Contactus             1850 non-null int64
Contactus_Duration    1850 non-null float64
BounceRates           1850 non-null float64
ExitRates             1850 non-null float64
PageValues            1850 non-null float64
SpecialDay            1850 non-null float64
Month                 1850 non-null object
OperatingSystems      1850 non-null int64
Browser               1850 non-null int64
Province              1850 non-null int64
TrafficType           1850 non-null int64
VisitorType           1850 non-null object
Weekend               1850 non-null bool
dtypes: bool(1), float64(7), int64(8), object(2)
memory usage: 247.6+ KB

In [4]:
data.describe()

,ID,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Province,TrafficType
count,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000,1850.000000
mean,925.500000,2.268649,87.141020,0.528649,36.980959,31.594054,1209.685852,0.021317,0.042758,5.933940,0.057514,2.117838,2.433514,3.117838,3.963243
std,534.193317,3.318457,207.536918,1.233431,147.871534,43.970294,2228.278855,0.046531,0.047192,18.653146,0.194962,0.934384,1.837110,2.382139,4.044874
min,1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,463.250000,0.000000,0.000000,0.000000,0.000000,7.000000,203.016944,0.000000,0.014417,0.000000,0.000000,2.000000,2.000000,1.000000,2.000000
50%,925.500000,1.000000,6.000000,0.000000,0.000000,18.000000,610.987500,0.003279,0.025000,0.000000,0.000000,2.000000,2.000000,3.000000,2.000000
75%,1387.750000,3.000000,95.475000,0.000000,0.000000,38.000000,1443.618634,0.017391,0.050000,0.000000,0.000000,3.000000,2.000000,4.000000,4.000000
max,1850.000000,24.000000,3398.750000,12.000000,2549.375000,534.000000,63973.522230,0.200000,0.200000,287.953793,1.000000,8.000000,13.000000,9.000000,20.000000

In [5]:
X=data.select_dtypes(include=[object,bool])

In [6]:
from sklearn import preprocessing

In [7]:
X=X.drop("Month",axis=1)

In [8]:
labelEncoder=preprocessing.LabelEncoder()
X_2=X.apply(labelEncoder.fit_transform)
X_2.head()

   VisitorType  Weekend
0            2        0
1            0        1
2            2        0
3            2        1
4            2        0

In [9]:
data['VisitorType']=X_2.VisitorType
data['Weekend']=X_2.Weekend

In [10]:
d = {'Jan':0, 'Feb':1, 'Mar':2, 'Apr':3, 'May':4,'June':5,'Jul':6,'Aug':7,'Sep':8,'Oct':9,'Nov':10,'Dec':11,}
data.Month = data.Month.map(d)

In [11]:
data.head()

,ID,Homepage,Homepage _Duration,Aboutus,Aboutus_Duration,Contactus,Contactus_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Province,TrafficType,VisitorType,Weekend
0,1,0,0.0,0,0.0,1,0.000000,0.200000,0.200000,0.0,0.0,4,1,1,1,1,2,0
1,2,0,0.0,0,0.0,24,743.750000,0.000000,0.016667,0.0,0.0,11,2,2,2,2,0,1
2,3,0,0.0,0,0.0,13,129.500000,0.015385,0.053846,0.0,0.0,10,2,2,3,1,2,0
3,4,3,84.0,0,0.0,59,1720.422222,0.026984,0.038232,0.0,0.0,9,3,2,1,3,2,1
4,5,0,0.0,0,0.0,13,390.500000,0.038462,0.053846,0.0,0.0,11,2,2,1,13,2,0

In [12]:
data.to_csv(r'/home/shashimal/Documents/hackstat2k19/new_test.csv', index = None, header=True)

In [3]:
df = pd.read_csv('new_train.csv')

In [37]:
X=df.drop(columns=['Revenue'])
y=df['Revenue']
X.shape
y.shape

(10480,)

In [38]:
#NOrmalizing
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [79]:
encoder = LabelEncoder()
encoder.fit(Y)
encoded_Y = encoder.transform(Y)

NameError: name 'LabelEncoder' is not defined

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.1)

In [41]:
# y_train = tf.keras.utils.to_categorical(y_train, 2)
# y_test = tf.keras.utils.to_categorical(y_test, 2)

In [74]:
#model 
import tensorflow as tf
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten

model = keras.Sequential([
    keras.layers.Flatten(input_shape=(17,)),
    keras.layers.Dense(64, activation=tf.nn.relu),
    keras.layers.Dense(32, activation=tf.nn.relu),
    keras.layers.Dense(1, activation=tf.nn.sigmoid),
])

In [75]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [76]:
model.fit(X_train, y_train, epochs=5, batch_size=64)

Epoch 1/5
9432/9432 [==============================] - 0s 24us/sample - loss: nan - acc: 0.8465
Epoch 2/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466
Epoch 3/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466
Epoch 4/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466
Epoch 5/5
9432/9432 [==============================] - 0s 14us/sample - loss: nan - acc: 0.8466

In [77]:
score = model.evaluate(X_test, y_test, verbose=0)

In [78]:
print('Test loss:', score[0])
print('Test accuracy:', score[1])

Test loss: nan
Test accuracy: 0.83301526

In [49]:
print(model.predict(X_test[0:2]))

[[nan]
 [nan]]

In [20]:
import numpy as np
np.argmax(predictions[801])

0